/* *{

    border: 1px  solid red;
} */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lobster", sans-serif;

}

#center-text {
    position: absolute;
    z-index: 5;
    left: 100px;
    top: 200px;
}

.btn-banner {
    margin-top: 20px;
    background-color: rgb(130, 81, 98);
}

.btn-banner:hover {
    background-color: rgb(32, 1, 2);
    color: white;
}

.font-big {
    font-size: 130px;
    color: black;
  
}

.font-medium {
    font-size: 50px;
    color:rgb(169, 183, 181);
  
}

#header ul li a {
    color: white;
    font-size: 16px;
}

.hero{

    color: black;
    font-size: 50px;
    
}
#aboutus{
    background-image: url(../Image/Background/deal-bg.png);
    background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
}
    
#Gunj{
    background-image: url(../Image/Background/fattoria-banner-1.jpg);
    opacity: 90%;
    background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    
}
#ab4{
    font-size: 60px;
    
}

#cards{
    background-image: url(../Image/Background/deal-bg.png);
    background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
}
#Testimonial{
    background-image: url(../Image/Background/testimonial-bg.png);
    background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
}
#test{
    background-image: url(../Image/Background/testimonial-bg-1920x749.png);
    background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
}

#footer{
    background-color:rgba(156, 200, 217, 0.803);
}


.green{
	color: rgb(120, 239, 40) !important;
}
.bg-green{
	background:rgb(68, 206, 26) !important;
}

.bg-green1{
	background:rgb(209, 234, 194) !important;
}
.green1{
	color: rgb(15, 173, 44) !important;
}



